*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    gap: 2vh;
    background-image: url("../Imagens/cell.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1, h2{
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.wrap-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (width >= 800px){
    .wrap-cards{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    body{
        background-image: url("../Imagens/web.jpg");
    }
}

.card{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}