*{
    margin: 0;
    padding: 0%;   
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../Imagens/cell.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    transition: all 1s linear;
    overflow: hidden;
}

.wrap-everything{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
    width: 100%;
}

.img-style{
    background-color: white;
}